[
  {
    "name": "{{ project_name }}-production",
    "ip": "{{ server_ip }}",
    "username": "deploy",
    "key": "{{ host_key }}",
    "password": "{{ host_password }}",
    "port": "22",
    "path": "/var/www/{{ base }}/{{ project_name }}",
    "virtualHostFilePath": "/etc/apache2/sites-available",
    "virtualHostFile": "{{ project_name }}.conf",
    "serverName": "{{ domain }}",
    "serverAlias": "",
    "serverAdmin": "{{ server_admin }}",
    "refreshVirtualHost": "false",
    "fpmSocket": "/run/php/php8.3-fpm.sock",
    "beforeHooks": "",
    "afterHooks": ""
  }
]
